*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
*.pyo
.idea/
.idea_modules/
.settings
.cache
target/
store/CSDK/cmake-build-debug/*
.project
.classpath
metastore_db/
derby.log
store/PYSDK/venv/*
store/PYSDK/.DS_Store
store/PYSDK/obs/
store/.DS_Store
store/sdk/src/main/resources/image/.DS_Store
store/PYSDK/obspython/
store/PYSDK/data/
.DS_Store
